<p>
  <strong>Title:</strong>
  <%= @category.name %>
</p>
 
<p>
  <strong>Id_from_db:</strong>
  <%= @category.id %>
</p>

<p>
  <strong>Show_next:</strong>
  <%= link_to "Продукты", category_products_path(@category.id) %>
</p>